        * {
            background-color: #14151b;
            box-sizing: border-box;
            margin: 0;
            border: 0;
            padding: 0;
        }
        
        .mainText {
            color: white;
            font-size: 3rem;
            margin-top: 50px;
        }
        
        .mainText:hover {
            color: rgb(17, 223, 79);
        }
        
        .middleText {
            color: white;
            margin-top: 275px;
            font-size: 3rem;
            position: relative;
        }
        
        .middleText:hover {
            color: rgb(17, 223, 79);
        }
        
        .boxtest {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin: 0 auto;
            height: 50vh;
            width: 50vh;
            background-color: #14151b;
            display: inline-flex;
        }
        
        .githubAnger {
            color: white;
        }
        
        .githubAnger:hover {
            color: lightblue;
        }
        
        .githubText {
            color: white;
            font-size: 1rem;
            margin-top: 100px;
        }
        
        .githubText:hover {
            color: rgb(17, 223, 79);
        }